<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_Shiprestriction
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Existing type configurations -->

    <type name="Mavenbird\Shiprestriction\Model\Rule">
        <arguments>
            <argument name="conditionCombine" xsi:type="object" shared="false">Mavenbird\Shiprestriction\Model\Rule\Condition\Combine</argument>
        </arguments>
    </type>

    <type name="Magento\Shipping\Model\Shipping">
        <plugin name="Mavenbird_Shiprestriction::RestrictRates" type="Mavenbird\Shiprestriction\Plugin\Model\ShippingPlugin"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Config">
        <plugin name="Mavenbird_Shiprestriction::ProductAttributes" type="Mavenbird\Shiprestriction\Plugin\ProductAttributes" />
    </type>

    <!-- Remove the preference for UpgradeData as it's no longer used -->
    <!--
    <type name="\Magento\SalesRule\Setup\UpgradeData">
        <plugin name="Mavenbird_Shiprestriction::SetupUpgradeData" type="Mavenbird\Shiprestriction\Plugin\Setup\UpgradeData" />
    </type>
    -->

    <!-- Register the data patch -->
    <type name="Magento\Framework\Setup\Patch\PatchApplier">
        <arguments>
            <argument name="patches" xsi:type="array">
                <item name="convert_serialized_data_to_json" xsi:type="object">Mavenbird\Shiprestriction\Setup\Patch\Data\ConvertSerializedDataToJson</item>
            </argument>
        </arguments>
    </type>

        <type name="Mavenbird\Shiprestriction\Model\Rule\Factory\HandleFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="customer" xsi:type="object">Mavenbird\Shiprestriction\Model\Rule\Condition\Customer</item>
                <item name="orders" xsi:type="object">Mavenbird\Shiprestriction\Model\Rule\Condition\Orders</item>
            </argument>
        </arguments>
    </type>
        <type name="Mavenbird\Shiprestriction\Model\Rule\Factory\CombineHandleFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="total" xsi:type="object">Mavenbird\Shiprestriction\Model\Rule\Condition\Total</item>
            </argument>
        </arguments>
    </type>
        <type name="Mavenbird\Shiprestriction\Model\OptionProvider\Pool">
        <arguments>
            <argument name="optionProviders" xsi:type="array">
                <item name="calculation" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\CalculationOptionProvider</item>
                <item name="carriers" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\CarriersOptionProvider</item>
                <item name="customer_group" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\CustomerGroupOptionProvider</item>
                <item name="days" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\DaysOptionProvider</item>
                <item name="payment_method" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\PaymentMethodOptionProvider</item>
                <item name="sales_rules" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\RulesOptionProvider</item>
                <item name="status" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\StatusOptionProvider</item>
                <item name="times" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\TimesOptionProvider</item>
                <item name="backorders" xsi:type="object">Mavenbird\Shiprestriction\Model\OptionProvider\Provider\BackorderOptionProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Existing preference configuration -->
    <preference for="Magento\Quote\Model\ShippingMethodManagement" type="Mavenbird\Shiprestriction\Model\Quote\ShippingMethodManagement"/>
</config>
