<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_Shiprestriction
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mavenbird\Shiprestriction\Controller\Adminhtml\Rule\Delete">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Mavenbird\Shiprestriction\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Mavenbird\Shiprestriction\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Mavenbird\Shiprestriction\Controller\Adminhtml\Rule\Duplicate">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Mavenbird\Shiprestriction\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Mavenbird\Shiprestriction\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Mavenbird\Shiprestriction\Controller\Adminhtml\Rule\Edit">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Mavenbird\Shiprestriction\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Mavenbird\Shiprestriction\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Mavenbird\Shiprestriction\Controller\Adminhtml\Rule\MassAction">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mavenbird\Shiprestriction\Model\ResourceModel\Rule\Collection</argument>
            <argument name="resource" xsi:type="object">Mavenbird\Shiprestriction\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <type name="Mavenbird\Shiprestriction\Controller\Adminhtml\Rule\Save">
        <arguments>
            <argument name="ruleModel" xsi:type="object" shared="false">Mavenbird\Shiprestriction\Model\Rule</argument>
            <argument name="resource" xsi:type="object">Mavenbird\Shiprestriction\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>
        <type name="Magento\Backend\Block\Menu">
        <plugin name="Mavenbird_Shiprestriction:menu" type="Mavenbird\Shiprestriction\Plugin\Backend\Block\Menu"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="Mavenbird_Shiprestriction:correct-market-url" type="Mavenbird\Shiprestriction\Plugin\Backend\Model\Menu\Item"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="Mavenbird_Shiprestriction::menu_builder" type="Mavenbird\Shiprestriction\Plugin\Backend\Model\Menu\Builder"/>
    </type>

    <type name="Magento\Config\Model\Config\Structure">
        <plugin name="Mavenbird_Shiprestriction:advertise" type="Mavenbird\Shiprestriction\Plugin\Backend\Model\Config\StructurePlugin"/>
    </type>
</config>
