<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_Shiprestriction
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <update id="Magento_Backend::mbmenu" title="Mavenbird" module="Magento_Backend" sortOrder="10" resource="Magento_Backend::mbmenu" />
        <add id="Mavenbird_Shiprestriction::Heading" title="Shipping Restrictions" module="Mavenbird_Shiprestriction" sortOrder="20" parent="Magento_Backend::mbmenu" resource="Mavenbird_Shiprestriction::Heading" />
             
        <add id="Mavenbird_Shiprestriction::rule"
             title="Add Shipping Restrictions Rules"
             module="Mavenbird_Shiprestriction"
             sortOrder="100"
             parent="Mavenbird_Shiprestriction::Heading"
             action="mavenbird_shiprestriction/rule/"
             resource="Mavenbird_Shiprestriction::rule"/>
             
        <add id="Mavenbird_Shiprestriction::extensions"
             title="Configuration"
             module="Mavenbird_Shiprestriction"
             sortOrder="9998"
             action="adminhtml/system_config/edit/section/shiprestriction"
             parent="Mavenbird_Shiprestriction::Heading"
             resource="Mavenbird_Shiprestriction::extensions"/>
    </menu>
</config>
